/* description */

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto 70px;
}


.two-columns__brief {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 auto;
  width: 175px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 30px;
}


.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  list-style: none;
  margin: 0;
  padding: 0;
}
