/* DIGITS */

.digits {
  margin-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  margin: 100px auto 20px;
  width: 60%;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  z-index: 1;
}
