.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 16px;
  list-style: none;
  margin: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: 2s;
  opacity: 0.7;
}
