.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: black;
}


.feynman__link::after {
  content: "\2192";
  margin-left: 10px;
  color: black;
}

.feynman__link:hover {
  transition: 2s;
  opacity: 0.7;
}
