/* khan */

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 36px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  background-image: url("../images/images_sprint-2/khan-book.jpg");
  width: 620px;
  height: 608px;
  margin: 0;
  background-size: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  margin-left: 48px;
}

.khan__buy-link:hover {
  transition: 2s;
  opacity: 0.7;
}

.khan__buy-link::after {
  content: "\2192";
  margin-left: 5px;
}
