/* Feynman */

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 80px;
  justify-content: center;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  position: relative;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: black;
}


.feynman__link::after {
  content: "\2192";
  margin-left: 10px;
  color: black;
}

.feynman__link:hover {
  transition: 2s;
  opacity: 0.7;
}
