@import url("__img/feynman__img.css");
@import url("__link/feynman__link.css");
@import url("__title/feynman__title.css");


.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 80px;
  justify-content: center;
}






