.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link::after {
  content: "\2192";
  margin-left: 5px;
}

.header__link:hover {transition: 2s;
  opacity: 0.7;

}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}


.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
