@import url("__main/header__main-illustration.css");
@import url("__link/header__link.css");
@import url("__square/__square-pic/header__square-pic.css");
@import url("__title/header__title.css");


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

