.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link::after {
  content: "\2192";
  margin-left: 5px;
}

.header__link:hover {transition: 2s;
  opacity: 0.7;
}
