/* Kaufman */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
  color: #ffffff;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  position: absolute;
  top: 0;
  right: -210px;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  animation: rotation 20s infinite linear;
}


.section-title_theme_dark {
  color: #ffffff;
  margin-top: 90px;
  z-index: 2;
  position: relative;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}
