@import url("__triangle/kaufman__triangle.css");
@import url("../table/_theme/table_theme_dark.css");
@import url("../table/_theme/table__cell_theme_dark.css");
@import url("../section-title/_theme/section-title_theme_dark.css");
@import url("../section-title/_theme/section-subtitle_theme_dark.css");
@import url("../rotation/rotation.css");

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
}




