.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  margin-left: 48px;
  height: fit-content;
}

.khan__buy-link:hover {
  transition: 2s;
  opacity: 0.7;
}

.khan__buy-link::after {
  content: "\2192";
  margin-left: 5px;
}
