.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__paragraph:nth-child(3n + 3) {
  padding-bottom: 0;
}
