@import url("_content/footer__column_content_copyright.css");

.footer__column {
  color: #ffffff;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 16px;
  list-style: none;
  margin: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: 2s;
  opacity: 0.7;
}
