@import url("__brief/two-columns__brief.css");
@import url("__main/__main-text/two-columns__main-text.css");
@import url("__span/two-columns__span-accent.css");
@import url("__paragraph/two-columns__paragraph.css");

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto 70px;
}

