.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -210px;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;

}
