@import url("../ footer/__author/footer__author.css");
@import url("../ footer/__column/footer__column.css");
@import url("__social/footer__social.css");

/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}


