/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.footer__column {
  color: #ffffff;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 16px;
  list-style: none;
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: 2s;
  opacity: 0.7;
}
