@import url("__author/footer__author.css");
@import url("__column/footer__column.css");
@import url("__social/footer__social.css");
@import url("../logo/_place/_footer/logo_place_footer.css");

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}



