.resources__logo-zone {
  display: flex;
  margin: 80px auto 217px;
  width: 1100px;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
}

.resources__logo:hover {
  transition: 2s;
  opacity: 0.7;
}
