.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
}
