.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */




.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link::after {
  content: "\2192";
  margin-left: 5px;
}

.header__link:hover {transition: 2s;
  opacity: 0.7;

}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}


.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}


/* MAIN PART */
.description {
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto 70px;
}


.two-columns__brief {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 auto;
  width: 175px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 30px;
}


.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* DIGITS */

.digits {
  margin-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  margin: 100px auto 20px;
  width: 60%;
  text-align: center;
  z-index: 1;
}

.section-title_theme_dark {
  color: #ffffff;
  margin-top: 90px;
  z-index: 2;
  position: relative;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

/* таблица__мейн__digits:( */

.table {
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 15;
}

.table__cell {
   width: 250px;
   margin-top: 60px;
 }

 .table__heading {
   line-height: 1.15;
   font-size: 24px;
   font-weight: 600;
   margin: 0;
 }

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 0 0;
  margin: 0;
}


.text__down {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* Feynman */

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 80px;
  justify-content: center;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  position: relative;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: black;
}


.feynman__link::after {
  content: "\2192";
  margin-left: 10px;
  color: black;
}

.feynman__link:hover {
  transition: 2s;
  opacity: 0.7;
}

/* Kaufman */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
  color: #ffffff;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  position: absolute;
  top: 0;
  right: -210px;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  animation: rotation 20s infinite linear;
}



/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.footer__column {
  color: #ffffff;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {

}


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 16px;
  list-style: none;
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: 2s;
  opacity: 0.7;
}


/* новое */

/* techniques */

.techniques {
  width: 80%;
  margin: 0 auto;
}

.cards {
  width: 920px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}

.cards__item {
  margin-top: 60px;
  width: 240px;
  text-align: center;
  margin-right: 100px;
}

.cards__item:nth-child(3n + 3) {
  margin-right: 0;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 43px;
}

.cards__subtitle {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 16px;
}


/* video */

.video__iframes {
  margin:0 0;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -50px;
  z-index: 1;
}

.video__iframe:not(:last-child) {
  margin-right: 20px;
}

/* Oakley */

.oakley {
  background-color: #f2f2f2;
}

.oakley_two-columns {
  margin: 0 auto;
  padding-top: 160px;
}


/* khan */

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 36px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  background-image: url("../images/images_sprint-2/khan-book.jpg");
  width: 620px;
  height: 608px;
  margin: 0;
  background-size: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  margin-left: 48px;
}

.khan__buy-link:hover {
  transition: 2s;
  opacity: 0.7;
}

.khan__buy-link::after {
  content: "\2192";
  margin-left: 5px;
}


/* resources */

.resources__logo-zone {
  display: flex;
  margin: 80px auto 217px;
  width: 1100px;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
}
