.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: #ffffff;
  margin-right: 0;
  margin-top: 80px;
}

.logo {

}

.logo--place-header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link::after {
  content: "\2192";
  margin-left: 5px;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}


.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}


/* MAIN PART */
.description {
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.two-columns_description {
  width: 175px;
}

.two-columns__brief {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
}

.padding_active {
  padding: 30px 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* DIGITS */

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  margin: 100px auto 20px;
  width: 60%;
  text-align: center;
}

.section-title_theme_dark {
  color: #ffffff;
  margin-top: 90px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

/* таблица__мейн__digits:( */

.table {
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 15;
}

.table__cell {
   width: 250px;
   margin-top: 60px;
 }

 .table__heading {
   line-height: 1.15;
   font-size: 24px;
   font-weight: 600;
 }

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0;
}

.text__down {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* Feynman */

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  margin-top: 100px;
  display: flex;
  position: relative;
  padding-top: 100px;
  justify-content: center;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  z-index: 25;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  z-index: 27;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: black;
}


.feynman__link::after {
  content: "\2192";
  margin-left: 10px;
  color: black;
}


/* Kaufman */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
  color: #ffffff;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}



/* footer */
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.footer__column {
  flex-basis: 711px;
}

.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo--place-footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 20px 0 16px;
}

.footer__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}
